[Unit]
Description=pilger.milsh.com auf den neuesten Stand bringen
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/opt/pilger-milsh/ops/pilger-update.sh
WorkingDirectory=/opt/pilger-milsh
TimeoutStartSec=600
