[Unit]
Description=pilger.milsh.com auf den neuesten Stand bringen
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pilger-update
WorkingDirectory=/opt/pilger-milsh
TimeoutStartSec=600
